mongodb/

api/node_modules
api/.vscode/

GCity/dist
GCity/tmp
GCity/out-tsc

GCity/bazel-out

GCity/node_modules


GCity/chrome-profiler-events*.json

# IDEs and editors
GCity/.idea
GCity/.project
GCity/.classpath
GCity.c9/
GCity/*.launch
GCity/.settings/
GCity/*.sublime-workspace

GCity/.vscode/

GCity/.history/*

# misc
GCity/.sass-cache
GCity/connect.lock
GCity/coverage
GCity/libpeerconnection.log
GCity/npm-debug.log
GCity/yarn-error.log
GCity/testem.log
GCity/typings

GCity/.DS_Store
GCity/Thumbs.db
